COPERNICUS_API_KEY=
DATABASE_URL=
GEMINI_API_KEY=
GFW_API_TOKEN=
NOAA_API_KEY=
OCEAN_DATA_API_KEY=
OPENWEATHER_API_KEY=
PORT=3000
VITE_AIS_API_KEY=
VITE_CARTO_API_KEY=
VITE_GFW_API_TOKEN=
VITE_MAP_API_KEY=
VITE_OCEAN_DATA_API_KEY=
VITE_SATELLITE_API_KEY=
VITE_WEATHER_API_KEY=
WEATHER_API_KEY=